{% extends 'core/base_admin.html' %}

{% block main %}
<div class="container mt-5">
  <h2>Actualizar Trazabilidad</h2>
  <!-- Formulario de búsqueda de guía -->
  <form class="my-3" method="post" action="{% url 'tracking:trazabilidad_update' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar Envío</button>
  </form>

  {% if envio %}
    <!-- Formulario para agregar trazabilidad -->
    <h3>Agregar Trazabilidad para Envío {{ envio.guia }}</h3>
    <form method="post" action="{% url 'tracking:trazabilidad_update' %}">
      {% csrf_token %}
      {{ tracking_form.as_p }}
      <input type="hidden" name="guia" value="{{ envio.guia }}" />
      <button type="submit" class="btn btn-success">Agregar Trazabilidad</button>
    </form>
  {% endif %}
</div>
{% endblock main %}
