{% extends 'core/base_admin.html' %}
 
{% block main %} 
      <div class="container mt-5"></div>
        <h2>{% if object %}Editar producto{% else %}Crear producto{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'productos:productos_list' %}" class="btn btn-secondary">Cancelar</a>
          </form>
        </div>
         </div>
    </div>
        
    {% endblock main %}
    