{% extends 'core/base_admin.html' %}

{% block main %}
<div class="container mt-4">
  <h1>{% if object %}Editar Cliente{% else %}Crear Cliente{% endif %}</h1>
  <form method="post">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="{{ form.nombre.id_for_label }}">Nombre</label>
              {{ form.nombre }}
          </div>
          <div class="col-md-6 mb-3">
              <label for="{{ form.email.id_for_label }}">Email</label>
              {{ form.email }}
          </div>
          <div class="col-md-6 mb-3">
              <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
              {{ form.telefono }}
          </div>
          <div class="col-md-6 mb-3">
              <label for="{{ form.direccion.id_for_label }}">Dirección</label>
              {{ form.direccion }}
          </div>
          <div class="col-md-6 mb-3">
              <label for="{{ form.localidad.id_for_label }}">Localidad</label>
              {{ form.destinatario_localidad }}
          </div> 
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'clientes:clientes_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div> 
{% endblock main %}
