{% extends 'core/base_admin.html' %}

{% block main %}
<div class="container mt-4">
  <h1 class="title">Listado de Clientes</h1>
  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Razon Social</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{object.id}}</td>
        <td>{{object.nombre | capfirst}}</td>
        <td>{{object.telefono}}</td>
        <td>{{object.direccion}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'clientes:cliente_edit' object.id %}" type="button" class="btn btn-primary"><i class="bi-pencil-fill"></i></a>
            <!-- Botón para abrir el modal de confirmación de eliminación -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-delete-url="{% url 'clientes:cliente_delete' object.id %}" data-delete-name="{{ object.nombre }}">
              <i class="bi-trash-fill"></i>
            </button>
          </div>
        </td>
      </tr>
      {% empty %}
      <p>No hay registros</p>
      {% endfor %}
    </tbody>
  </table>
</div>
<a href="{% url 'clientes:cliente_create' %} ">
  <div class="to-top">
    <i class="bi-plus"></i>
  </div>
</a>


{% include 'core/componentes/modal_confirm_delete.html' %}
{% endblock main %}