{% extends 'core/base.html' %}
{% load static %}
<!-- Block for additional stylesheets -->
{% block extra_styles %}
<link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />

{% endblock extra_styles %}
{% block navbar %}

{% include 'core/componentes/navbar.html' %}
{% endblock navbar %}

{% block header %}

<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">Soluciones Logísticas Integrales        </h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">Optimiza cada etapa de tu cadena de suministro con nuestra tecnología avanzada</p> 
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block main %}
<!-- Buscar envíos -->
<section class="page-section bg-primary" id="buscar-envios">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Busca tu envío aquí</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">Ingresa el número de seguimiento de tu envío para conocer el estado actual. ¡Es rápido y fácil!</p>

        <!-- Formulario de búsqueda -->
        <form method="GET" action="{% url 'core:buscar_envio' %}" class="form-inline justify-content-center">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Número de seguimiento" name="guia" required />
              <button class="btn btn-light btn-xl" type="submit">Buscar</button>
            </div>
          </form>

<!-- Toast para mostrar el error de envío no encontrado -->
<div class="toast-container position-fixed bottom-0 end-0 p-3 top-0 start-50 translate-middle-x">
    <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
      <div class="d-flex">
        <div class="toast-body">
          {{ error }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

  </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white paralax-index">
  <div class="container px-4 px-lg-5 text-center"> 
  </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5"> 
    <div class="position-relative d-flex align-items-center justify-content-center">
      <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6; font-family: 'Roboto', sans-serif;      font-weight: bold;">Sobre mi</h1>
      <h1 class="position-absolute text-uppercase text-primary">Sobre mi</h1>
    </div>
    <hr class="divider" />
    <div>
      <p>¡Hola! Soy Gonzalo Veglio, el creador de <strong>Optlog.</strong> Esta plataforma ha sido diseñada para hacer que la gestión de envíos sea más fácil y eficiente tanto para los destinatarios como para las empresas.</p>
    </div>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-geo-alt fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Trazabilidad</h3>
          <p class="text-muted mb-0">Visualiza el estado de tus envíos en tiempo real y mantén el control total de su ubicación.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-truck fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Logística</h3>
          <p class="text-muted mb-0">Crea y gestiona envíos dinámicos con nuestro sistema eficiente y flexible.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-person fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Administración</h3>
          <p class="text-muted mb-0">Controla toda la información de tus clientes desde un único panel.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-bar-chart fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Gráficos</h3>
          <p class="text-muted mb-0">Visualiza datos a través de gráficos para tomar decisiones informadas.</p>
        </div>
      </div>
    </div>
    
  </div>
</section>
 

{% endblock main %}
<footer class="bg-dark position-fixed bottom-0 " style=" left: 0; right: 0;">
  <div class="container  d-flex flex-wrap justify-content-between align-items-center  ">

    {% include 'core/componentes/footer.html'%}
  </div>
</footer>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


{% block extra_scripts %}
<script src="{% static 'core/js/scripts.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var errorToastElement = document.getElementById('errorToast');
    {% if error %}
    var toast = new bootstrap.Toast(errorToastElement);
    errorToastElement.style.display = 'block';
    toast.show();
    {% endif %}
  });
</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>




{% endblock extra_scripts %}